body {
    padding-top: 20px;
    background: #fbfbfb;
}

/* items */

.grid-1 div {
    display:grid;
    color: white;
    font-size: 20px;
    padding: 20px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: auto auto auto auto;
    grid-gap: 100px;
    max-width: 1000px;
}

.div item 1{
    grid-row: 10px;
    grid-column:10px;

}



/* specific item styles */

.item-1 {
    background: #b03532;
}
.item-2 {
    background: #33a8a5;
}
.item-3 {
    background: #30997a;
}
.item-4 {
    background: #6a478f;
}
